#app{align-items: stretch;}
.container{
    margin: 0;
}

.headers{
    background: linear-gradient(rgba(0,229,145,1), rgba(47,239,188,1));
    padding: 15px;
    text-transform: uppercase;
}

#page-title{margin-bottom: 100px;}
#details{display: none;}
.done{text-decoration: line-through;}
.fas{
    display: none;
    cursor: pointer;
}

.form-container{
    padding: 15px;
}
